:root {
  --text: #463461;
  --bg: rgb(51, 126, 122);
  --btn-bg: #996c8b;
}

h4 {
  color: var(--text);
  background-color: var(--bg);
}

:root {
  --text: #6f7710;
  --bg: rgb(99, 152, 149);
  --btn-bg: rgb(97, 111, 41);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-color: var(--bg);
  font-family: 'Nerko One', inherit;
}

h1 {
  font-size: 90px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#board {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  font-size: 100px;
  margin-top: 40px;
}

.box {
  height: 20vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

#restart {
  padding: 10px 20px;
  background-color: var(--btn-bg);
  border: none;
  border-radius: 20px;
  color: var(--bg);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input[type=text] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.submit {
  padding: 15px 15px;
  background-color: var(--btn-bg);
  border: none;
  border-radius: 15px;
  color: var(--bg);
  font-size: px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.player {
  font-size: 15px;
  font-weight: bold;
}

.formName {
  display: grid;

  align-items: center;
  justify-content: center;
}